
.navbar-brand {
  padding-top: 15px;

  width: 200px;
  @media (min-width: @grid-float-breakpoint) {
    width: 320px;
  }

  svg {
    width: 100%;

    #symbol, #word1, #word2 {
      fill: @navbar-default-brand-color;
    }
  }
}

.navbar-static-top {
  @media (min-width: @grid-float-breakpoint) {

    // Position above featured image
    body.has-featured-image & {
      position: absolute;
      top: 0; right: 0; left: 0;
      border-bottom-color: transparent;
      background-color: transparent;
      #gradient > .vertical(fade(@navbar-default-bg, 100%), fade(@navbar-default-bg, 0%));
    }

    // Push down when wp-adminbar is present
    body.has-featured-image.admin-bar & {
      top: 32px;
    }
  }
}
