
.acf {
  .make-row();
  margin-top: @line-height-computed;
  margin-bottom: @line-height-computed;

  .title {
    &:extend(.h3 all);
    color: @brand-secondary;
    border-bottom: 1px solid @hr-border;
    margin-top: (@line-height-computed * 2);
    margin-bottom: @line-height-computed;
    padding-bottom: @padding-large-vertical;
  }

  .layout-full {
    .make-xs-column(12);
    .make-sm-column(10);
    .make-sm-column-offset(1);
  }

  .layout-left,
  .layout-center,
  .layout-right {
    .make-xs-column(12);
    .make-sm-column(10);
    .make-md-column(8);
    .make-lg-column(6);
  }

  .layout-left {
    .make-md-column-offset(1);
    .make-lg-column-offset(2);
  }
  .layout-center {
    .make-sm-column-offset(1);
    .make-md-column-offset(2);
    .make-lg-column-offset(3);
  }
  .layout-right {
    .make-sm-column-offset(2);
    .make-md-column-offset(3);
    .make-lg-column-offset(4);
  }
}
