// Grid settings
@main-sm-columns:       @grid-columns;
@sidebar-sm-columns:    4;

// Colors
@brand-primary:         #27ae60;

// Typography
@font-family-sans-serif:  'Gotham Narrow A', 'Gotham Narrow B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@normal-font-weight:      300;
@headings-font-weight:    500;

// Grid system
@grid-float-breakpoint:     @screen-md-min;

// Buttons
@btn-font-weight:           @normal-font-weight;

// Navbar
@navbar-height:                         80px;
@navbar-default-color:                  @gray-lighter;
@navbar-default-bg:                     @gray-dark;
@navbar-default-border:                 @navbar-default-bg;
@navbar-default-link-color:             @navbar-default-color;
@navbar-default-link-hover-color:       @link-hover-color;
@navbar-default-link-active-color:      @link-color;
@navbar-default-link-disabled-color:    @text-muted;
@navbar-default-toggle-hover-bg:        transparent;
@navbar-default-toggle-icon-bar-bg:     @navbar-default-color;
@navbar-default-toggle-border-color:    transparent;

