// Grid settings
@main-sm-columns:       @grid-columns;
@sidebar-sm-columns:    4;

// Colors
@brand-primary:         #27ae60;

// Navbar
@navbar-height:                         80px;
@navbar-default-color:                  @gray-lighter;
@navbar-default-bg:                     @gray-dark;
@navbar-default-border:                 @navbar-default-bg;
@navbar-default-link-color:             @navbar-default-color;
@navbar-default-link-hover-color:       @link-hover-color;
@navbar-default-link-active-color:      @link-color;
@navbar-default-link-disabled-color:    @text-muted;
@navbar-default-toggle-hover-bg:        transparent;
@navbar-default-toggle-icon-bar-bg:     @navbar-default-color;
@navbar-default-toggle-border-color:    transparent;

